{% extends "blogging/base.html" %}

{% block main %}
    <h1>Account Information</h1>
    <p>Plan Name: {{ current_user.role }}</p>
    <p>Expiration: {{current_user.expiration }}</p>
    <a href="{{ url_for('main.support') }}" class="btn btn-default">Make a Payment or Change Plans</a>
    {% if opt_out %}
    <a href="{{ url_for('auth.mail_opt') }}" class="btn btn-default">Opt In to Emails</a>
    {% else %}
    <a href="{{ url_for('auth.mail_opt') }}" class="btn btn-default">Opt Out of Emails</a>
    {% endif %}
{% endblock %}
