BLOGGING_SITENAME = 'Patron'
BLOGGING_SITEURL = 'https://example.com'
BLOGGING_BRANDURL = None
BLOGGING_TWITTER_USERNAME = None
BLOGGING_DISQUS_SITENAME = None
BLOGGING_GOOGLE_ANALYTICS = None
SECRET_KEY = '085767hsjd83dhddfvjhd74t'
