# be sure to enter price as an integer
# delete any levels if you want less than four
# maximum levels are 4
# descriptions over 600 characters will be truncated

Level 1:
    name: Patron
    price: 20
    description: This is a basic level of support.

Level 2:
    name: Cool Patron
    price: 40
    description: This is a better level of support!

Level 3:
    name: Cooler Patron
    price: 60
    description: This is an even better level of support!

Level 4:
    name: Coolest Patron
    price: 80
    description: You rock!
