<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no"/>
    {% include "blogging/analytics.html" %}
    {% block meta %}
    {% endblock meta %}
    {% block style %}
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename=THEME_FILE) }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='custom.css') }}">
    {% endblock style %}
    {% block extrastyle %}
    {% endblock extrastyle %}
    <title>
        {% block title %}
        {% endblock title %}
    </title>
</head>
<body>
    <!-- navbar header -->
<nav class="navbar fixed-top navbar-expand-sm navbar-dark border-dark shadow bg-primary">
        <a class="navbar-brand" href="/">{{ config.BLOGGING_SITENAME }}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
             <span class="navbar-toggler-icon"></span>
        </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item"><a class="nav-link text-light" href="{{ url_for('main.index') }}">Home</a></li>
                    <li class="nav-item"><a class="nav-link text-light" href="{{ url_for('blogging.index') }}">Updates</a></li>
                    <li class="nav-item"><a class="nav-link text-light" href="{{ url_for('main.support') }}">Subscriptions</a></li>
                    {% if current_user.is_authenticated and current_user.role != 'admin'%}
                        <li class="nav-item"><a class="nav-link text-light" href="{{ url_for('auth.account') }}">Account</a></li>
                    {% elif current_user.is_authenticated and current_user.role == 'admin'%}
                        <li class="nav-item"><a class="nav-link text-light" href="{{ url_for('admin.index') }}" target="_blank">Admin Panel</a></li>
                    {% endif %}
                    {% if not current_user.is_authenticated %}
                        <li class="nav-item"><a class="nav-link text-light" href="{{ url_for('auth.login') }}">Login</a></li>
                        <li class="nav-item"><a class="nav-link text-light" href="{{ url_for('auth.register') }}">Sign Up</a></li>
                    {% else %}
                        <li class="nav-item"><a class="nav-link text-light" href="{{ url_for('auth.logout') }}">Logout</a></li>
                    {% endif %}
                </ul>
            </div>
</div>
</nav>

    <!-- main content -->
     <div class="container">
         {% block message %}
         {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                    <div id="alert_div" class="alert alert-primary alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        {{ message }}
                    </div>
                    </div>
                 </div>
                {% endfor %}
            {% endif %}
         {% endwith %}

         {% endblock %}
         {% block main %}
         {% endblock main %}
         {% block extramain %}
         {% endblock extramain %}
     </div>
    {% block js %}
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    {% endblock js %}
    {% block extrajs %}
    {% endblock extrajs %}
</body>
</html>
