{% extends 'admin/master.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block body %}
    <h2>Enter your BTCPay Pairing Info</h2>
    <br>
    {% if btcpay %}
    <p>BTCPay is currently paired. Re-pair below.</p>
    <br>
    <div style="font-size:x-small">Format for BTCPay URL:
    <ol>
        <li>Include 'https://'.</li>
        <li>Exclude trailing '/'</li>
        <li>Example: https://btcpay.example.com</li>
    </ol></div>
    {% endif %}
    <div class="row">
        <div class="col-md-4">
            {{ wtf.quick_form(form) }}
        </div>
    </div>
    <br>
    {% if btcpay_host %}
    <p>You can obtain your code by heading <a href="{{ btcpay_host }}/api-tokens" target="_blank">here</a>.</p>
    {% else %}
    <p>You can obtain your code by heading to "[your BTCPay URL]/api-tokens".</p>
    {% endif %}
    <br>
{% endblock %}
