{% extends 'admin/model/list.html' %}

{% block body %}
<h2>Pricing Setup</h2>
<p>Use the table below to set up your subscription levels.</p>
<div style="font-size:x-small">
<p>Notes if Square Recurring Billing is Active:</p>
<ol>
    <li> Deleting a price level will deactivate recurring credit card billing for all users that that price level. On their renewal date, they'll get an email with a link to choose a new plan.</li>
    <li>Changing the name of a price level will also deactivate recurring credit card billing for all users that that price level. On their renewal date, they'll get an email with a link to choose a new plan.</li>
    <li>Changing the price of a given plan will not alter recurring billing so long as the plan keeps the same name. Your users will be billed the new price, so to not blindside your users it is suggested that you post an update with your new pricing and set said update to be emailed.</li>
    <li>Changing the description of a price level has no effects on recurring billing.</li>
    <li> None of these notes affect users who pay monthly by BTCPay reminder emails.</li>
</div>
<br><br>
{{ super() }}
{% endblock body %}
