{% extends 'admin/master.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block body %}
    <h2>Comment Setup</h2>
    <br>
    {% if config.COMMENTS %}
    <p>To deactivate comments, click below</p>
    <p> This will not delete your comment database; you can reactivate later.</p>
    <p><a href="{{ url_for('admin_utils.deactivate_isso') }}" class="btn btn-default">Deactivate Comments</a></p>
    {% else %}
    <div class="row">
        <div class="col-md-4">
            {{ wtf.quick_form(form) }}
        </div>
    </div>
    <br>
    {% endif %}
{% endblock %}
