{% extends 'admin/master.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block body %}
    <h2>Enter your Square Account Info</h2>
    {% if square %}
    <p>Square is currently paired. Re-pair below.</p>
    <br>
    {% endif %}
    <p>Square integration is untested and it is not suggested that you activate it yet.</p>
    <br>
    <div class="row">
        <div class="col-md-4">
            {{ wtf.quick_form(form) }}
        </div>
    </div>
    <br>
    <p>After creating an account at <a href="https://squareup.com" target="_blank">squareup.com</a>, go to <a href="https://connect.squareup.com/apps" target="_blank">connect.squareup.com/apps</a> to get this info. If you have not already done so, you will create an app called 'LibrePatron', and then you'll have access to an app id, location id, and access token.</p>
    <br>
    <p>To deactivate Square, click below</p>
    <p> WARNING: This will delete all customer recurring payments.</p>
    <p><a href="{{ url_for('admin_utils.delete_square') }}" class="btn btn-default">Deactivate Square</a></p>
{% endblock %}
